.container {
    width: 480px;
    margin: 0 auto;
}

.food-wrap {
    width: 480px;
    margin: 0 auto;
    height: calc(100vh - 80px);
    background: #fff;
    border-radius: 14px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

#header {
    position: sticky;
    top: 0;
    background: #fff;
    padding: 0 16px;
    border-bottom: 1px solid #ddd;
    z-index: 99;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 16px;
}

#header a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

#header b {
    margin: 0;
    font-weight: bold;
    font-size: 17px;
}

#header button {
    justify-self: end;
    margin-left: auto;
    border: 1px solid #e5e7eb;
    background: #fff;
    border-radius: 999px;
    padding: 8px 10px;
    font-size: 13px;
    cursor: pointer;
}

#header button:hover {
    background: black;
    color: white;
}

.menu {
    width: 440px;
    height: 248px;
    margin: 0 auto;
    margin-top: 10px;
}

.day {
    width: 440px;
    height: 46px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #DCE3E8;
    display: flex;
}

.ss {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.res {
    position: fixed;
    bottom: 0;
    width: 480px;
    height: 72px;
    background-color: white;
}

.res button {
    position: absolute;
    width: 460px;
    background-color: black;
    cursor: pointer;
    height: 52px;
    border-radius: 8px;
    border: none;
    color: white;
    text-align: center;
}

.reservation-box {
    transform: translate(0%, 120%);
    border-radius: 20px 20px 0 0;
    background-color: white;
    width: 480px;
    z-index: 9999;
    margin: 0 auto;
    bottom: 0;
    position: fixed;
    transition: transform 0.4s ease;
    border: 1px solid black;
    pointer-events: none;
}

.reservation-box.active {
    transform: translate(0, 0%);
    pointer-events: auto;
}

body.modal-open {
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.month {
    text-align: center;
    margin-top: 20px;
}

.week {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: gray;
    margin-bottom: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.calendar span {
    padding: 8px 0;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}

.calendar .selected {
    background: black;
    color: white;
}

.calendar .disabled {
    color: #ccc;
}

.people {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.people button {
    border: 1px solid #ccc;
    background: white;
    border-radius: 50px;
    padding: 8px 15px;
    margin-left: auto;
    cursor: pointer;
    margin-top: 30px;
}

.people button.selected {
    background: black;
    color: white;
    border: none;
}

.watch {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    user-select: none;
    scroll-behavior: smooth;
}

.time:active {
    cursor: grabbing;
}

.watch button {
    background: white;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    flex: 0 0 auto;
}

.watch button.selected {
    background: black;
    color: white;
}

.watch button.disabled {
    background: #ccc;
    color: #666;
    pointer-events: none;
}

.close {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.calendar-reserve-btn {
    width: 100%;
    padding: 15px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.calendar-reserve-btn.show {
    opacity: 1;
    pointer-events: auto;
}
